@using PsychologicalTestWithBlazor.Components.Models

<EditForm Model="@Choices" OnSubmit="@OnSubmit" FormName="PsychoTestForm">
    @foreach (var question in Choices.Questions)
    {
        <QuestionComponent Question="@question" />
    }
    <button type="submit" class="btn btn-primary" style="margin-bottom:30px">Submit</button>
</EditForm>

@code {
    [Parameter]
    public Сhoices Choices { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }
}