<h3 style="font-size: 25px"><b><i><center>Results</center></i></b></h3>
<br />
<p style="font-size: 21px"><b>Score: </b>@totalChoiceValue psychopoints)</p>
<p style="font-size: 21px"><b>You are most likely to have: </b>@psychotype</p>
<p style="font-size: 21px"><b>Description:</b> @info</p>
<p style="font-size: 21px"><b>Recommendations:</b> @recommendations</p>

@code {
    [Parameter]
    public int totalChoiceValue { get; set; }
    [Parameter]
    public string psychotype { get; set; }
    [Parameter]
    public string info { get; set; }
    [Parameter]
    public string recommendations { get; set; }
}