@page "/"
@inject NavigationManager NavManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>Welcome to the Depression Test</h1>
    <p>This is your path to self-discovery and growth!</p>
    <div>
        <br />
        <h2>Depression Test</h2>
        <p>
            Depression is a serious mental disorder that affects a person's mood, thoughts,
            feelings, and overall health. It is important to recognize the symptoms of
            depression in a timely manner to ensure the necessary support and treatment.
        </p>
        <p>
            Our depression test is designed to help you assess your emotional state
            and understand if you may have signs of depression. The test includes a
            series of questions that will allow you to better understand your mood and
            behavior over the recent period.
        </p>
        <p>
            After completing this test, you will receive preliminary results that may help
            you decide whether to seek further evaluation and support from a specialist.
        </p>
    </div>
    <br />
    <button @onclick="StartTest" class="btn btn-primary">Start the test</button>
</div>

@code {
    private void StartTest()
    {
        NavManager.NavigateTo("/PsychoTest");
    }
}